<h1>ALL DOGS</h1>

<% if flash[:notice] %>
  Notice: <%= flash[:notice] %>
<% end %>

<% @dogs.each do |dog| %>
  <h3>Name: <%= dog.name %></h3>
  <h3>Owner: <%= dog.owner %></h3>
<% end %>
<a href="/dogs/new">Create a New Dog</a>
