<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="/dogs" method="POST">
  <label>Name
    <input type="text" name="dog[name]" value="<%= @dog.name %>">
  </label>
  </br>
  <label>Date of Birth
    <input type="date" name="dog[dob]" value="<%= @dog.dob %>">
  </label>

  <input type="submit">
</form>
